<!DOCTYPE html>

<html ng-app="ngBBTweets">
	<head>
		<title>BB Tweets</title>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
		<link href="styles/bootstrap.min.css" rel='stylesheet'>
		<link href="styles/billsCustom.css" rel='stylesheet'>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js"></script>
		<script src="js/ng-billstweets/tweetApp.js" ></script>
	</head>

	<body style="margin-top:50px; margin-left:0; margin-right:0; margin-bottom:0;">
		<header role="banner" class="navbar navbar-inverse navbar-fixed-top navbar-bills">
			<div class="container">
				<div class="navbar-header">
					<a href="./" class="navbar-brand navbar-brand-bills">Buffalo Bill's Tweets</a>
				</div>
			</div>
		</header> 
		<main>
			<div ng-controller="countCtrl">
			 	<div class="row tweet-header">
			 			<div class="col-md-4 linediv-l">
			 				<div class="tweet-stat ">
			 					<h2>[[countPositive.count | number]]</h2>
			 					<p> Positive </p>	
			 				</div>
			 			</div>
						<div class="col-md-4">
							<div class="tweet-stat">
								<h2>[[countTotal.count]]</h2>
								<p>Total</p>
							</div>
						</div>
						<div class="col-md-4 linediv-r">
							<div class="tweet-stat">
								<h2>[[countNegative.count | number]]</h2>
								<p>Negative</p>
							</div>
						</div>
			 	</div>

				<ul style="margin-top:15px; list-style-type: none;">
					<li ng-repeat="tweet in tweets">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div>
									<div>[[tweet.date | date:'medium']]</div>
									<div>Sentiment: [[tweet.sentiment]]</div>
								</div>
							</div>
							<div class="panel-body">
								<img ng-src="[[tweet.user.profile_image_url]]"/>
								[[tweet.text]]
							</div>
						</div>
					</li>
				</ul>
			</div>
		</main>
	</body>
</html>
