<!DOCTYPE html>

<html ng-app="ngBBTweets">
	<head>
		<title>BB Tweets</title>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
		<link href="styles/bootstrap.min.css" rel='stylesheet'>
		<link href="styles/billsCustom.css" rel='stylesheet'>
	    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="js/ng-billstweets/socket.js" ></script>
		<script type="text/javascript" src="js/ng-billstweets/ng-infinite-scroll.min.js"></script>
		<script type="text/javascript" src="js/ng-billstweets/tweetApp.js" ></script>
	</head>

	<body style="margin-top:50px; margin-left:0; margin-right:0; margin-bottom:0;">
		<header role="banner" class="navbar navbar-inverse navbar-fixed-top navbar-bills">
			<div class="container">
				<div class="navbar-header">
					<a href="./" class="navbar-brand navbar-brand-bills">Buffalo Bill's Tweets</a>
				</div>
			</div>
		</header> 
		<main>
			<div ng-controller="countCtrl">
			 	<div class="row tweet-header">
			 			<div class="col-md-4 linediv-l">
			 				<div class="tweet-stat ">
			 					<h2>[[countPositive.count | number]]</h2>
			 					<p> Positive </p>	
			 				</div>
			 			</div>
						<div class="col-md-4">
							<div class="tweet-stat">
								<h2>[[countTotal.count | number]]</h2>
								<p>Total</p>
							</div>
						</div>
						<div class="col-md-4 linediv-r">
							<div class="tweet-stat">
								<h2>[[countNegative.count | number]]</h2>
								<p>Negative</p>
							</div>
						</div>
			 	</div>

				 	<div  style="padding: 20px;">
					 	 <div class='well well-sm' ng-show="difference">
					 	 	<span>
					 			<span class="badge">[[difference]]</span>
					 			more tweets have been found. 
					 			<btn class='btn btn-primary' ng-click="refreshTweets()">Refresh</btn>
					 		</span>	
					 	</div> 

						<div infinite-scroll='loadMore()' infinite-scroll-distance='2' style="margin-top:15px;">
							<div ng-repeat="tweet in tweets">
								<div class="panel panel-default">
									<div class="panel-heading">
										<div>
											<div>[[tweet.date | date:'medium']]</div>
											<div>Sentiment: [[tweet.sentiment]]</div>
										</div>
									</div>
									<div class="panel-body">
										<img ng-src="[[tweet.user.profile_image_url]]"/>
										[[tweet.text]]
										<div>
											<ul ng-repeat="positiveWord in tweet.positiveWords">
												<li>[[positiveWord.word]] : [[positiveWord.score]]</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
