.animate-show{
	-webkit-transition: ls linear all;
	transition: 1s linear all;
	opacity: 0;
}

.animate-show .animate-enter-active{
	opacity: 1;
}

.animate-hide {
	opacity: 0;
}

.btn-bills{
	background-color: #12487b;
	border-color: #12487b;
}

.navbar-bills{
	text-shadow: 0 -1px 0 rgba(0,0,0,.15);
  	background-color: #12487b;
  	border-color: #da2128;
  	box-shadow: 0 1px 0 rgba(255,255,255,.1);
  	font-family: 'Ubuntu', sans-serif;
}

.navbar-bills .navbar-brand-bills{
	color: #fff;
}

.tweet-header{
	background-color: #12487b;
	padding: 30px 15px 30px;
	text-align: center;
}

.tweet-stat{
	font-family: 'Ubuntu', sans-serif;
	color: white;
}

.tweet-stat h2{
	font-family: 'Ubuntu', sans-serif;
	color: white;
}

/*Landscape phones and down*/
@media (max-width: 980px){
	.linediv-r{
		border-top: 1px white solid;
	}
	.linediv-l{
		border-bottom: 1px white solid;
	}
}

@media(min-width: 980px){
	.linediv-r{
		border-left: 1px white solid;
	}

	.linediv-l{
		border-right: 1px white solid;
	}
}